// Stylobate & portal styles
@import "node_modules/stylobate-islands/node_modules/stylobate"
@import "node_modules/stylobate-islands"

set-skin-namespace('islands')

// Custom styles
@media (max-width: 768px)
  .bar
    skin: h3
